<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Atualização de Dados</title>
</head>
<body>

<h1>Atualização de Dados</h1>

<br>
{% if car_list %}

    {% for car_list in car_list %}
    
    <img src="{{car_list.photo.url}}" alt="Imagem não encontrada">

      <p>{{ car_list.id }} - {{ car_list.name }} - {{car_list.like}}</p>

      <a href="{% url 'updateMyCar' car_list.id %}">Editar</a>
      <a href="{% url 'delete' car_list.id %}">Deletar</a>
    
  {% endfor %}
{% else %}
  <p>Nenhum carro encontrado.</p>
{% endif %}
 
    
    <form action="{% url 'save' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="model">Modelo:</label>
            <input type="text" id="model" name="model" placeholder="Digite o modelo" required>
        </div>
        <div class="form-group">
            <label for="brand">Marca:</label>
            <input type="text" id="brand" name="brand" placeholder="Digite a marca" required>
        </div>
        <div class="form-group">
            <label for="plate">Placa:</label>
            <input type="text" id="plate" name="plate" placeholder="Digite a placa" required>
        </div>
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" placeholder="Digite seu nome" required>
        </div>
        <div class="form-group">
            <label for="createdby">Dono:</label>
            <input type="hidden" id="createdby" name="createdby" value="{{ user.id }}" required>
        </div>
        <div class="form-group">
            <label for="photo">Foto:</label>
            <input type="file" id="photo" name="photo"  required>
        </div>
        <button type="submit" class="btn-submit">Fazer Nova Publicação</button>
    </form>


</body>
</html>