<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Atualização de Dados</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <div class="navbar-container">
        <a href="{% url 'home' %}" class="navbar-icon">
            <img src="{% static 'img/logo.png' %}" alt="Ícone do Site" width="40" height="40">
        </a>
        <h1 class="navbar-title">REDLINE</h1>
    </div>
        <ul class="navbar-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'update' user.id %}">Arrumar Garagem</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
</div>

<div class="update-container">
    
    
        <li>
            <img class="car-image-update" src="{{ car.photo.url }}" alt="Foto do carro">
        </li> 
        <li class="car-info">{{ car.id }} - {{ car.name }}</li>
    </ul>

    <form action="{% url 'updating' car.id %}" method="POST" enctype="multipart/form-data" class="update-page-form">
        {% csrf_token %}
        <div class="update-page-form-group">
            <label for="model">Modelo:</label>
            <input type="text" id="model" name="model" value="{{ car.model }}">
        </div>
        <div class="update-page-form-group">
            <label for="brand">Marca:</label>
            <input type="text" id="brand" name="brand" value="{{ car.brand }}">
        </div>
        <div class="update-page-form-group">
            <label for="plate">Placa:</label>
            <input type="text" id="plate" name="plate" value="{{ car.plate }}">
        </div>
        <div class="update-page-form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" value="{{ car.name }}">
        </div>
        <div class="update-page-form-group">
            <label for="photo">Foto:</label>
            <input type="file" id="photo" name="photo" >
        </div>
        <button type="submit" class="update-page-submit-button">Salvar</button>
    </form>
</div>

</body>
</html>
